@use '../mixins/states' as states;
@use '../variables/color-palette' as colors;
@use '../variables/sizing' as sizing;
@use '../variables/borders.scss' as borders;

.tab-bar {
  display: flex;
  padding-left: sizing.$space-m;

  > a,
  > button,
  > .tab {
    appearance: none;
    background-color: white;
    border: borders.$border-1;
    border-radius: sizing.$radius-m sizing.$radius-m 0 0;
    cursor: pointer;
    display: inline-block;
    font-weight: bold;
    margin-right: sizing.$space-xs;
    padding: sizing.$space-m sizing.$space-l;
    text-decoration: none;
    transition: 150ms ease-in-out background-color, opacity;

    @include states.disabled {
      color: colors.$tertiary-300 !important;
    }

    @include states.hover {
      color: colors.$primary !important;
    }

    @include states.active {
      color: colors.$primary !important;
      z-index: 1;
      border-bottom: 0;

      @include states.hover {
        color: colors.$primary !important;
      }
    }
  }
}

.tab-panels {
  overflow: auto;
  padding: sizing.$space-m;
  border: 1px solid colors.$tertiary-300;
  border-radius: sizing.$radius-m;
  background-color: white;
  margin-top: -1px;
  z-index: 2;

  > :not(.active) {
    display: none;
  }
}
