// primary
$primary: #f58025;
$primary-400: #f79951;
$primary-300: #f9b37c;
$primary-200: #fbcca8;
$primary-100: #fde6d3;

// primary-alt01
$primary-alt01: #f26526;
$primary-alt01-400: #f58451;
$primary-alt01-300: #f7a37d;
$primary-alt01-200: #fac1a8;
$primary-alt01-100: #fce0d4;

// secondary
$secondary: #ffcd00;
$secondary-400: #ffd733;
$secondary-300: #ffe166;
$secondary-200: #ffeb99;
$secondary-100: #fff5cc;

// tertiary
$tertiary: #464958;
$tertiary-400: #6b6d79;
$tertiary-300: #90929b;
$tertiary-200: #b5b6bc;
$tertiary-100: #dadbde;

// neutral dark
$neutral-dark: #333;
$neutral-dark-400: #5c5c5c;
$neutral-dark-300: #858585;
$neutral-dark-200: #adadad;
$neutral-dark-100: #d6d6d6;

// other neutrals
$neutral-white: #fff;
$neutral-mid01: #979fa3;
$neutral-mid02: #464958;
$neutral-light: #f7f7f7;

// success
$success: #7ac92f;
$success-400: #95d459;
$success-300: #afdf82;
$success-200: #cae9ac;
$success-100: #e4f4d5;

// error
$error: #c00;
$error-400: #d63333;
$error-300: #e06666;
$error-200: #eb9999;
$error-100: #f5cccc;

// info
$info: #00a9ff;
$info-400: #33baff;
$info-300: #66cbff;
$info-200: #9df;
$info-100: #cef;

// warning
$warning: #f26526;
