$space-xs: 3px;
$space-s: 5px;
$space-m: 10px;
$space-l: 15px;
$space-xl: 20px;
$space-xxl: 25px;

$radius-s: 2px;
$radius-m: 5px;
$radius-l: 10px;
$radius-xl: 15px;

$control-height-s: 36px;
$control-height-m: 42px;
$control-height-l: 48px;
